<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Application logs -->
    <logger name="Application" level="INFO"/>
    <logger name="com.mk.kmpshowcase.server" level="DEBUG"/>

    <!-- Ktor logs -->
    <logger name="io.ktor" level="INFO"/>

    <!-- Database logs (set to DEBUG to see SQL queries) -->
    <logger name="Exposed" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
